*{
    margin: 0;
    padding: 0;
    font-family:Yanone Kaffeesatz;
}

.header{
    height: 100px;
    background: rgb(0, 188, 175);
    padding: 0 30px;
    color: #fff;
    font-size:15px;
    
}

.menu{
    float: right;
    line-height: 100px;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px 40px;
    transition: 0.4s;
}



.menu a:hover{
    background-color: yellow ;
    color: black;
    border-radius: 10px;
}
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #03A9F4;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width: 800px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
    .mySlides{
        width: 100%;
        position: relative;
        z-index: -2;
    }
}


    

/* Uso de How to do w3school */
  
  

  
  /* Diseño de Barra de Menu*/

  .navbar {
  
    overflow: hidden;
    background-color: #333;
    font-family:Yanone Kaffeesatz;
    
    
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
  }

  #right {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 70px 70px;
    text-decoration: none;
}
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover {
    background-color: yellow ;
    color: black;
    border-radius: 10px;
  }
  
  
  .subnav .contenedorbutton {
  
  font-size: inherit;
  text-align: center;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  margin: auto;
  border: none;
}


.subnav {
  float: left;
  overflow: hidden
}

.subnav-contenedor {
  display:none;
  position: absolute;
  background-color: gray;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 
}
.subnav-contenedor a {
  float: none;
  color: white;
  padding: 30px 40px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav:hover .subnav-contenedor {
  display: block;
  
}

.subnav-contenedor a:hover {
    top:20px;
  background-color: #eee;
  color: black;
  
  
}

  
  p{
      color:white;
      font-size:20px;
      margin:auto; 
      font-family: Abel;
      text-align: center;
  }
  
 input[type=text] {
  margin: auto;
  float: right;
  width: 130px;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 30px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  
  
}


input[type=text]:focus {
  width: 40%;
}


